[Unit]
Description=Cloudflare Tunnel
After=network.target
Wants=network.target

[Service]
TimeoutStartSec=0
Type=notify
ExecStart=/usr/bin/cloudflared --no-autoupdate tunnel run --token-file /etc/cloudflared/token.txt
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
