[Unit]
Description=Apache Spark master Daemon
After=network.target systemd-resolved.service
Requires=network.target

[Service]
Type=simple
EnvironmentFile=/etc/env.d/99spark
User=spark
ExecStart={SPARK_HOME}/sbin/start-master.sh

[Install]
WantedBy=multi-user.target
